header {
    margin: 30px;
}
header ul {
    list-style-type: none;
    font-size: 30px;
    text-align: center;
}

header ul li {
    display: inline;
    
}

header ul li a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.brand {
    float: left;
    font-family: 'Oleo Script';
}

.intro {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.featured-properties {
    width:450px;
}
.cardx {
    display: flex;
    flex-direction: row;
}

.card {
    margin: 10px;
}

.view-more {
    float: right;
}