body {
    font-family: 'Space Grotesk';
    font-size: 20px;
    width: 90%;
    margin: auto;
}

h1 {
    color: #2549D3;
    font-family: 'Space Grotesk';
    font-weight: 700;
}

header {
    margin: 30px;
}

header ul {
    list-style-type: none;
    font-size: 30px;
    text-align: center;
}

header ul li {
    display: inline;
    
}

header ul li a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.brand {
    float: left;
    font-family: 'Oleo Script';
}

.button , .learn-more, .search, .view-more, .view-more2 {
    background-color: #2549D3;
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
    color: #FAFAFA;
    font-family: 'Space Grotesk';
    font-size: 18px;
}

.view-more {
    float: right;
}

.intro {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.intro > div {
    padding: 10px;
    font-size: 20px;
    line-height: 200%;
}

.intro-left, .intro-right {
    flex: 50%;
}

.intro-right > img {
    width: 100%;
}

.location {
    margin: 100px 40px 40px 40px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.arrow {
    border: solid #2549D3;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.location > div {
    flex: 25%;
    padding: 20px;
}


.why-us {
    display: flex;
    padding: 20px;
    flex-direction: row;
    margin-top: 20px;
    font-size: 20px;
}

.why-us > div {
    flex: 50%;
}

.why-us > div > img {
    width: 100%;
}

.why-us ul {
    list-style: none;
}

.products {
    padding: 20px;
    margin: 10px;
}

#p1 {
    text-align: center;
    font-size: 24px;
}

#how {
    text-align: center;
}
.cards {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.cards .card {
    transition: 0.3s;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
}

.cards .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

#center-card {
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
}

.featured-properties {
    padding: 20px;
    margin-top: 60px;
}

#our, #one {
    text-align: center;
}

.featured-img {
    display: flex;
}

.card-featured {
    transition: 0.3s;
    margin: 10px 10px 30px 10px;
    border-radius: 30px;
}

.cf-1 {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
}

.card-featured img {
    width: 100%;
}
.card-featured:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.description {
    text-align: center;
    padding: 2px;
    display: flex;
}

.description > div {
    padding: 2px 16px;
    flex: 50%;
}

#left {
    float: left;
}

#right {
    float: right;
}

.view-more1 {
    background-color: #2549D3;
}

.esteemed-customers {
    padding: 20px;
    margin-top: 50px;
    font-size: 18px;
}

.testimonies {
    display: flex;
    flex-direction: row;  
    margin-right: 20px;
    padding: 10px;
}

.esteemed-customers h1 {
    text-align: center;
}

.view-more2 {
    float: right;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    font-size: 20px;
    margin: 10px;
    background-color: #0F298B;
    color: #FAFAFA;
    margin-top: 60px;
}

.footer > div {
    flex: 25%;
}