header {
    margin: 30px;
}
header ul {
    list-style-type: none;
    font-size: 30px;
    text-align: center;
}

header ul li {
    display: inline;
    
}

header ul li a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.brand {
    float: left;
    font-family: 'Oleo Script';
}

.intro {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.intro > div {
    padding: 10px;
    font-size: 20px;
    line-height: 200%;
}

.intro-left, .intro-right {
    flex: 50%;
}

.intro-right > img {
    width: 100%;
}

.featured-properties {
    width:450px;
}
.cardx {
    display: flex;
    flex-direction: row;
}

.featured-properties-card {
    display: flex;
}

.card img {
    /* max-width: 100%; */
    max-height: 100%;
    object-fit: contain;
}

.view-more {
    float: right;
}

.testimonies {
    display: flex;
    flex-direction: row;
}

.esteemed-customers h1 {
    text-align: center;
}